	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="copyright">{CREDIT_LINE}
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
	<footer class="row footer">
	<div class="contact col-lg-2">Nous contacter :</div>
	<div class="col-lg-3">
		<div>
			<div class="utc_logo" onclick="window.location.href='http://www.utc.fr';"></div>
			<div class="contact_"><a href="mailto:charles.lenay@utc.fr">Charles Lenay</a></div>
		</div>
		<div>
			<div class="utt_logo" onclick="window.location.href='http://www.utt.fr';"></div>
			<div class="contact_"><a href="mailto:charles.lenay@utc.fr">Charles Lenay</a></div>
		</div>
    </div>

	<div class="col-lg-1 imgfoot">
	</div>

	<div class="col-lg-3">
		<div>
			<div class="utbm_logo" onclick="window.location.href='http://www.utbm.fr';"></div>
			<div class="contact_"><a href="mailto:charles.lenay@utc.fr">Charles Lenay</a></div>
		</div>
		<div>
			<div class="lasalle_logo" onclick="window.location.href='http://www.lasalle-beauvais.fr/';"></div>
			<div class="contact_"><a href="mailto:charles.lenay@utc.fr">Charles Lenay</a></div>
		</div>
    </div>
</footer>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
</html>