body {
	color: black;
}

.breadcrumb {
	margin-bottom: -10px;
}

.content {
	text-align:justify;
}

.tuile{
	/*background-color: rgb(0, 165, 255)*/
	/*background-color: rgb(0, 165, 232);*/
	background-color: rgb(93, 188, 210);
	/*background-color: rgb(241, 165, 58);*/
	/*background-color: rgb(181, 217, 239);*/
	/*background-color: #FF9900;*/
	border-radius: 10px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}
.tuile:hover{
	/*background-color: rgb(0, 229, 238);*/
	/*background-color: rgb(255, 255, 60);*/
	background-color: rgb(93, 188, 210);
	/*background-color: rgb(120, 225, 0);*/
}
.tuile_nohover {
	/*background-color: rgb(0, 165, 232);*/
	background-color: rgb(93, 188, 210);
	margin-top: 15px;
	padding: 5px;
}

.tuilecontainer {
	/*background-color: rgb(0, 165, 232);*/
	background-color: rgb(93, 188, 210);
	/*background-color: rgb(241, 165, 58);*/
	/*background-color: rgb(181, 217, 239);*/
	margin-top: 15px;
	padding: 5px;
	border-radius: 10px;
}

.tuilecalendar {
	/*background-color: rgb(0, 165, 232);*/
	background-color: rgb(93, 188, 210);
	/*background-color: rgb(241, 165, 58);*/
	/*background-color: rgb(181, 217, 239);*/
	margin-top: 15px;
	padding: 5px;

	border-radius: 10px;
}

/* gestion des overflow et des max_height */
.max_250 {
	overflow:hidden;
	height:250px;
}

#newstitle{
	text-align: center;
	border-bottom: 1px solid black;
}
#newstitle{
	padding-bottom: 10px;
	margin-top:0px;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}
#newstitle:hover{
	/*background-color: rgb(255, 255, 60);*/
	background-color: rgb(241, 194, 106);
	cursor: pointer;
	border-radius: 5px;
}


#forumstuile{
	/*min-height:400px;*/
	border-radius: 10px;
}

.tuiletitle{
	text-align: center;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
	border-bottom: 1px solid black;
}

.tuiletitle.alone {
	border-bottom: none;
}

.forumpost{
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 5px;
}

.forumtitle:hover{
	/*background-color: rgb(255, 255, 60);*/
	background-color: rgb(241, 194, 106);
	cursor: pointer;
	border-radius: 5px;
}

.forumpost:hover {
	/*background-color: rgb(0, 229, 238);*/
	/*background-color: rgb(255, 255, 60);*/
	background-color: rgb(241, 194, 106);
	/*background-color: rgb(120, 225, 0);*/
	/*background-color: #FF9900;*/
	
	border-radius: 5px;
}

.forumsujet{
	font-weight:bold;
}

.lineHeader {
	border-bottom: 1px solid black;
}

.login {
	text-align: justify;
	}
	
.login_login {
	font-weight: bold;
	display:table-cell;
	text-align: justify;
	width:100%;
}

.login_register {
	font-weight: bold;
	line-height: 250px;
	text-align: justify;
}

.presentation {
	margin-top: 20px;
}

.presentation p {
	margin-bottom: 10px;
}

.image_presentation {
	background-image: url('images/gis_presentation.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin-top: 30px;
	margin-left: 150px;
}

.a_news {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.a_news:hover {
	/*background-color: rgb(0, 229, 238);*/
	/*background-color: rgb(255, 255, 60);*/
	background-color: rgb(241, 194, 106);
	/*background-color: rgb(120, 225, 0);*/
	/*background-color: #FF9900;*/
	border-radius: 5px;
}

.news_actualite, .ressources, .a_ressource, .a_project {
	/*height: 120px;*/
	border-bottom: 1px solid black;
}

.a_ressource, .a_project {
	padding-bottom: 10px;
	padding-top: 10px;
}

.a_project:hover, .a_ressource:hover {
	background-color: rgb(241, 194, 106);
	border-radius: 5px;
}

.one_ressource {
	padding-bottom: 10px;
	padding-top: 10px;
}

.news_title, .res_title, .proj_title {
	font-weight: bold;
	font-size: large;
}

.news_date, .res_date, .proj_date {
	color: gray;
	font-style: italic;
}

.news_author {

}

.news_resume {

}

.link_to_download {
	
}

.en_savoir_plus {
	color:red;
	text-align: left;
}

.download_charte {
	margin-top: 20px;
}

form .form {
	margin-top: 5px;
	margin-bottom: 5px;
}

form .news_title.form input {
	width: 750px;
}

.createnews_link {
	color: red;
}

.ressource_type {
	
}

.ressource_link {

}

.text_pres {
	padding-left: 10px;
	padding-right: 10px;
}

.infofiltre {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}

.proj_text {
	text-align: justify;
	margin-bottom: 20px;
}

.a_project {
	cursor: pointer;
}

.desactivate {
	background-color: rgb(150,150,150);
}

.desactivate:hover {
	background-color: rgb(150,150,150);
	cursor: auto;
}

.edit_ressource {
	margin-bottom: 5px;
	margin-top: 20px;
}

.edit_news {
	margin-bottom: 5px;
	margin-top: 20px;
	border-top: 1px solid grey;
}

.marge_gauche {
	margin-left: 25px;
}

.input_form  {
	margin-top:10px;
	margin-bottom:10px;
}

#add_ressource {
	color: green;
	cursor: pointer;
	margin-top: 5px;
	width: 190px;
	text-align: center;
}
#add_ressource:hover {
	background-color: rgb(241, 194, 106);
	border-radius: 5px;
}

.news_form {
	width: 100% !important;
}

#divID {
	padding-top:10px;
	padding-bottom:5px;
}

#edit_logo {
	background-image: url('images/edit.jpg');
	height:40px;
	width:40px;
}