.content {
	text-align:justify;
}

.tuile{
	background-color: rgb(0, 165, 232);
	margin-top: 15px;
	padding: 5px;
}
.tuile:hover{
	background-color: rgb(0, 229, 238);
}
.tuile_nohover{
	background-color: rgb(0, 165, 232);
	margin-top: 15px;
	padding: 5px
}

/* gestion des overflow et des max_height */
.max_250 {
	overflow:hidden;
	height:250px;
}

#newstitle{
	text-align: center;
}
#newstitle{
	margin-top:10px;
	font-size: very-large;
	font-weight: bold;
}

#forumstuile{
	min-height:400px;
}

.tuiletitle{
	text-align: center;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
}

.forumpost{
	margin-top: 10px;
	margin-bottom: 10px;
}

.forumsujet{
	font-weight:bold;
}