.footer {
	margin-top:15px;
	height: 120px;
}

.imgfoot{
	background-image: url('./images/pixel.jpg');
	background-repeat: repeat-y;
	height: 100px;
	position: relative;
}

footer{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid grey;
}

ul.mail{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.contact.tuile_contacttitle{
	margin-top: 0px;
}

.tuile_contact{
	background-color: rgb(0, 165, 232);
	margin-top: 0px;
	padding: 5px;
	line-height:15px;
}
.tuile_contact:hover{
	/*background-color: rgb(0, 229, 238);*/
	background-color: rgb(255, 255, 60);
	/*background-color: rgb(120, 225, 0);*/
}

.contact {
	font-weight:bold;
	color:grey;
	margin-top: 0px;
	line-height:25px;
}

.contact, .mail{
	text-align:center;
}

.utc_logo {
	position: relative;
	display: inline-block;
	text-align: center;
	background-image:  url('images/logo-utc.png');
	width:120px;
	height:42px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.utt_logo {
	position: relative;
	display: inline-block;
	text-align: center;
	background-image:  url('images/utt.png');
	width:120px;
	height:42px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.lasalle_logo {
	position: relative;
	display: inline-block;
	text-align: center;
	background-image:  url('images/logo-lasalle.png');
	width:120px;
	height:42px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.utbm_logo {
	position: relative;
	display: inline-block;
	text-align: center;
	background-image:  url('images/logo-utbm.png');
	width:120px;
	height:42px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.contact_ {
	display: inline-block;
	text-align: center;
}

.tuile{
	background-color: rgb(0, 165, 232);
}