body {
	width: 1280px;
	margin: auto !important;
	padding-top: 0px;
	color: black;
	}

.image_en_tete {
	position: relative;
	background-image: url('images/gis_image_cropped.jpg');
	width:100%;
	height:250px;
	background-repeat: no-repeat;
	}

.header{
	z-index: 1;
	position:relative;
	}
	
.logo {
	position: relative;
	background-image: url('images/logo_min.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin-top: 5px;
	margin-left: 30px;
	}
	
.degrade {	
	position: relative;
	height:100px;
	background-image:-webkit-linear-gradient(left, rgb(0,165,232), rgb(250,250,245));
	background-image:-moz-linear-gradient(left, rgb(0,165,232), rgb(250,250,245));
	background-image:-ms-overflow-style-gradient(left, rgb(0,165,232), rgb(250,255,255));
	}

/* Partie navigation */

nav {
	width: 600px;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0px;
}

nav div {
	display: inline-block;
	width: 100px;
	height: 40px;
	border-right:1px solid black;
	text-align: center;
	font-size: 18px;
}

nav div p{
	vertical-align: middle;
	display: inline;
	line-height: 30px;
}

.menuElementFirst {
	border-left: 1px solid black;
}

nav div:hover {
	background-color: rgba(100,100,100, 0.5);
}